* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.userDashboard {
    background-color: #F4F8F2;
}
.user_profile {
    margin: 0 auto;
}
.user_profile h3 {
    padding-left: 12px;
    color: #75dbcd;
}

.user_saved_listings {
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    width: 350px;
    padding: 10px;
    text-align: center;
}

.user_saved_listings img {
    width: 325px;
    height: 200px;
}

@media (min-width: 425px){
    .user_profile h3 {
        padding-left: 40px;
    }
}

@media (min-width: 1024px){
    .saved_listings{
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }
    .user_profile h3 {
        padding-left: 76px;
    }
}