.admin_main h1 {
    padding-top: 120px;
    text-align: center;
}
.admin_user_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding-top: 100px;
}

.admin_user {
    border: 3px solid grey;
    height: 450px;
    padding: 20px;
    margin: 20px;
}

img {
   height: 100px;
   width: 100px; 
}

@media (min-width: 425px) {

}