* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.host_profile {
    padding-top: 100px;
    padding-left: 20px;
}

.host_listings_render {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding-top: 35px;
    text-align: center;
}

.host_listing {
    border: 3px solid grey;
    height: 367px;
    padding: 20px;
    margin: 20px;
}

.prop_img {
    width: 200px;
    height: 200px;
}