* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.host_main {
    background-color: #f4f8f2;
}
.host_profile {
    padding-left: 20px;
    color: #75dbcd;
}
.host_listings_main {
    display: grid;
    padding-top: 35px;
    text-align: center;
}
.host_listings_main h3 {
    color: #75dbcd;
}
.host_listings_container {
    text-align: center;
    margin: 5px auto;
    display: grid;
}

.host_listing {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}
.host_listing button {
    background-color: #f4f8f2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.prop_img {
    width: 325px;
    height: 200px;
}

@media (min-width: 768px){
    .host_listings_container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media (min-width: 1024px){
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
