.login_main {
    text-align: center;
}

.login_main h1 {
    padding-top: 62px;
}

.login {
    margin-top: 35px;
    width: 175px;
    height: 40px;
    border-radius: 25px;
    background: white;
    font-size: 20px;
}
  
  