.logout {
    margin-top: 15px;
    width: 175px;
    height: 40px;
    border-radius: 25px;
    background: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  