* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #75dbcd;
}

.nav_main {
    display: flex;
    padding: 19px;
    /* position: fixed; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    width: 100%;
}
.nav_user_pic {
    margin-right: 2px;
}
.nav_user_pic img {
    border-radius: 35px;
    height: 47px;
    width: 47px;
}
.nav_links {
    color: #75dbcd;
    text-shadow: 1px 1px #36645e;
    white-space: nowrap;
    padding: 10px 0px 0px 6px;
    width: 75px;
    word-spacing: -2.5px;
    font-size: 1.2rem;
}
#signup{
    padding: 7px 0px 0px 125px;
}
#login{
    padding: 7px 0px 0px 95px;
}
#nav_user_logout {
    margin: 0 27px 0 0px;
    /* text-shadow: 1px 1px #36645e; */
}
#nav_user_host {
    margin: 0 10px 0 35px;
}
#nav_newListing {
    padding: 13px 0px 0px 6px;
    font-size: 1rem;
}
#nav_userdash {
    padding: 13px 0px 0px 30px;
    font-size: 1rem;
}
#nav_host_logout {
    cursor: pointer;
    padding: 13px 0px 0px 6px;
    font-size: 1rem;
}
.nav_logo_link {
    padding-right: 5px;
}

.fa-globe-americas:before {
    content: "\f57d";
    font-size: 35px;
    color: #75dbcd;
    text-shadow: 1px 1px #36645e;
}

@media (min-width: 425px){
    nav_links {
        padding: 10px 0px 0px 25px;
    }
    #nav_user_logout {
        margin: 0 5px 0 0px
    }
    #nav_user_host {
        margin: 0 10px 0 90px;
    }
    .nav_user_pic {
        margin-left: 65px;
    }
    #nav_newListing {
        padding: 13px 0px 0px 15px;
        font-size: 1.1rem;
    }
    #nav_userdash {
        padding: 13px 0px 0px 62px;
        font-size: 1.1rem;
    }
    #nav_host_logout {
        cursor: pointer;
        padding: 13px 0px 0px 55px;
        font-size: 1.1rem;
    }
    .fa-globe-americas:before {
        content: "\f57d";
        font-size: 40px;
    }
    #login {
        font-size: 1.2rem;
    }
    #signup {
        margin-left: 70px;
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    #login {
        margin-left: 10px;
        font-size: 1.4rem;
    }
    #signup {
        margin-left: 555px;
        font-size: 1.4rem;
    }
}

@media (min-width: 1024px){
    a{
        font-size: 1.3rem;
    }
    #signup {
        margin-left: 650px;
    }
    #nav_newListing {
        padding: 5px 0px 0px 1045px;
    }
    #nav_userdash {
        padding: 5px 0px 0px 150px;
    }
    #nav_host_logout {
        cursor: pointer;
        padding: 5px 0px 0px 82px;
        font-size: 1.3rem;
    }
    .nav_user_pic {
        margin-left: 106px;
    }

    #nav_user_host {
        margin: 0 10px 0 725px;
    }
    #nav_user_logout {
        margin: 0 -66px 0 0px;
    }
}
@media (min-width: 1280px){
    #signup {
        margin-left: 875px;
    }
    #nav_user_host {
        margin: 0 10px 0 975px;
    }
}
@media (min-width: 1440px){
    #signup {
        margin-left: 1066px;
    }
    #nav_user_host {
        margin: 0 10px 0 1135px;
    }
}
@media (min-width: 1640px){
    #signup {
        margin-left: 1520px;
    }
    #nav_user_host {
        margin: 0 10px 0 1615px;
    }
}