* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
    font-size: 1.2em;
    position: fixed;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    width: 100%;
}

.nav_links {
    color: aquamarine;
    padding: 10px;
    width: 33%;
}

.logo_link {
    margin: 2px;
    padding-right: 100px;
}
.fa-globe-americas:before {
    content: "\f57d";
    font-size: 35px;
    color: aquamarine;
}

/* @media() */