@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Mogra');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    text-decoration: none;
  }
.listings_main {
    text-align: center;
    background-color: #F4F8F2;
}

.listings_main h1 {
    color: #75dbcd;
    padding: 40px 0 20px 0;
}

.listing_container {
    display: grid;
    /* grid-template-columns: repeat(1, 90%); */
    margin: auto;
}

.listing_property_container {
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around; */

}

.listing_property_container img {
    height: 200px;
    width: 325px;
}

@media (min-width: 425px){
    .listing_container {
        grid-template-columns: repeat(2, 50%);
      }
}
@media (min-width: 1024px){
    .listing_container {
        grid-template-columns: repeat(3, 33%);
        grid-gap: 5px;
      }
}