@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Mogra');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    text-decoration: none;
  }

.listing_container {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-gap: 30px;
    padding: 42px;
  }

.listing_property_container {
    height: 250px;
    width: 250px;
    padding: 33px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;

}

.listing_property_container img {
    height: 200px;
    width: 325px;
}

.listings_main {
    text-align: center;
    /* margin-top: 50px; */
}

.listings_main h1 {
    color: #75dbcd;
}

@media (min-width: 425px){
    .listing_container {
        display: grid;
        grid-template-columns: repeat(1, 200px);
        grid-gap: 30px;
        padding: 65px;
      }
}
@media (min-width: 768px){
    .listing_container {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-gap: 148px;
        padding: 65px;
      }
}